{
  "$schema": "https://ref.actionschema.com/openapi.json",
  "x-actionschema": "0.0.1",

  "openapi": "3.1.0",
  "info": {
    "title": "uithub API",
    "version": "1.1.0",
    "description": "API for fetching repository contents and related information from GitHub\n\nCheck <a href=\"openapi.json\">openapi.json</a> to get this in machine readable format\n\n## OAuth 2.0 Authentication Guide\n\nuithub implements OAuth 2.0 with PKCE (Proof Key for Code Exchange) support for secure authentication. This allows third-party applications to access the API on behalf of users.\n\n### Quick Start\n\n**Step 1: Discover OAuth Configuration**\n\nFetch the authorization server metadata:\n```\nGET /.well-known/oauth-authorization-server\n```\n\n**Step 2: Register Your Client (Dynamic Client Registration)**\n\n```bash\ncurl -X POST https://uithub.com/register \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"redirect_uris\": [\"https://your-app.com/callback\"],\n    \"client_name\": \"Your App Name\"\n  }'\n```\n\nResponse:\n```json\n{\n  \"client_id\": \"client_abc123...\",\n  \"client_secret\": \"secret_xyz789...\",\n  \"redirect_uris\": [\"https://your-app.com/callback\"],\n  \"client_name\": \"Your App Name\"\n}\n```\n\n**Step 3: Generate PKCE Parameters**\n\nGenerate a `code_verifier` (43-128 character random string) and compute the `code_challenge`:\n```javascript\n// Generate code_verifier\nconst codeVerifier = base64URLEncode(crypto.randomBytes(32));\n\n// Generate code_challenge (S256 method)\nconst codeChallenge = base64URLEncode(sha256(codeVerifier));\n```\n\n**Step 4: Authorization Request**\n\nRedirect the user to the authorization endpoint:\n```\nhttps://uithub.com/authorize?\n  client_id=YOUR_CLIENT_ID&\n  redirect_uri=https://your-app.com/callback&\n  response_type=code&\n  scope=read&\n  state=RANDOM_STATE&\n  code_challenge=YOUR_CODE_CHALLENGE&\n  code_challenge_method=S256\n```\n\nThe user will authenticate with GitHub and be redirected back to your `redirect_uri` with an authorization `code`.\n\n**Step 5: Exchange Code for Access Token**\n\n```bash\ncurl -X POST https://uithub.com/token \\\n  -H \"Content-Type: application/x-www-form-urlencoded\" \\\n  -d \"grant_type=authorization_code\" \\\n  -d \"code=AUTH_CODE_FROM_CALLBACK\" \\\n  -d \"redirect_uri=https://your-app.com/callback\" \\\n  -d \"client_id=YOUR_CLIENT_ID\" \\\n  -d \"client_secret=YOUR_CLIENT_SECRET\" \\\n  -d \"code_verifier=YOUR_CODE_VERIFIER\"\n```\n\nResponse:\n```json\n{\n  \"access_token\": \"abc123...\",\n  \"token_type\": \"Bearer\",\n  \"expires_in\": 86400,\n  \"scope\": \"read\"\n}\n```\n\n**Step 6: Use the Access Token**\n\nInclude the token in the Authorization header:\n```bash\ncurl https://uithub.com/owner/repo \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\"\n```\n\n### Available Scopes\n\n- `read` - Read access to public repositories (default)\n- `repo` - Access to private repositories (requires GitHub repo scope)\n\n### Supported OAuth Endpoints\n\n| Endpoint | Description |\n|----------|-------------|\n| `GET /.well-known/oauth-authorization-server` | OAuth server metadata |\n| `GET /.well-known/oauth-protected-resource` | Protected resource metadata |\n| `POST /register` | Dynamic client registration |\n| `GET /authorize` | Authorization endpoint |\n| `POST /token` | Token endpoint |\n\n### Token Expiration\n\n- Authorization codes expire in **10 minutes**\n- Access tokens expire in **24 hours**\n\n### PKCE Support\n\nPKCE is recommended for all clients. Supported methods:\n- `S256` (recommended) - SHA-256 hash of code_verifier\n- `plain` - code_verifier sent as-is"
  },
  "servers": [{ "url": "https://uithub.com" }],
  "security": [{ "bearerAuth": [] }, { "oauth2": ["read"] }],
  "tags": [
    {
      "name": "Repository",
      "description": "Endpoints for fetching repository contents"
    },
    {
      "name": "OAuth",
      "description": "OAuth 2.0 authentication endpoints for third-party applications"
    }
  ],
  "paths": {
    "/{owner}/{repo}/tree/{branch}/{path}": {
      "get": {
        "operationId": "getRepositoryContents",
        "summary": "Get repository contents",
        "tags": ["Repository"],
        "description": "Fetch contents of a GitHub repository, with various filtering options. \n\nExample usage:\n- Max 10.000 LLM tokens in response: https://uithub.com/codefromanywhere/openapi-search?maxTokens=10000\n- Only markdown: https://uithub.com/codefromanywhere/openapi-search?ext=md\n- Only JS/TS: https://uithub.com/codefromanywhere/openapi-search?ext=js,jsx,ts,tsx\n- Respond in YAML: https://uithub.com/codefromanywhere/openapi-search?accept=text/yaml \n- Max 10kb per file: https://uithub.com/codefromanywhere/openapi-search?maxFileSize=10000 \n- Glob include pattern: https://uithub.com/codefromanywhere/openapi-search?include=**/*.ts,src/** \n- Glob exclude pattern: https://uithub.com/codefromanywhere/openapi-search?exclude=**/node_modules/**,**/*.test.ts\n- Search file contents: https://uithub.com/codefromanywhere/openapi-search?search=function%20parse\n- Case-sensitive search: https://uithub.com/codefromanywhere/openapi-search?search=API&searchMatchCase=true\n- Regex search: https://uithub.com/codefromanywhere/openapi-search?search=export%20(const|function)&searchRegularExp=true\n\nKnown limitations: \n\n- Doesn't work well with large repos over 50mb\n- For now the API is free to use for fair use, but a ratelimit will be added in the future.\n- There is an hourly cap for githubs ratelimit, you can get up to 5000 requests per hour by using your own apiKey.\n\nRead below for more the entire spec, or try it out in the widget and get some code.\n\nReach out [here](https://news.ycombinator.com/item?id=41797578) for feedback or feature requests.",
        "parameters": [
          { "$ref": "#/components/parameters/owner" },
          { "$ref": "#/components/parameters/repo" },
          { "$ref": "#/components/parameters/branch" },
          { "$ref": "#/components/parameters/path" },
          { "$ref": "#/components/parameters/apiKey" },
          { "$ref": "#/components/parameters/ext" },
          { "$ref": "#/components/parameters/accept" },
          { "$ref": "#/components/parameters/acceptQuery" },
          { "$ref": "#/components/parameters/dir" },
          { "$ref": "#/components/parameters/lines" },
          { "$ref": "#/components/parameters/excludeExt" },
          { "$ref": "#/components/parameters/excludeDir" },
          { "$ref": "#/components/parameters/disableGenignore" },
          { "$ref": "#/components/parameters/maxFileSize" },
          { "$ref": "#/components/parameters/maxTokens" },
          { "$ref": "#/components/parameters/yamlString" },
          { "$ref": "#/components/parameters/omitFiles" },
          { "$ref": "#/components/parameters/omitTree" },
          { "$ref": "#/components/parameters/include" },
          { "$ref": "#/components/parameters/exclude" },
          { "$ref": "#/components/parameters/search" },
          { "$ref": "#/components/parameters/searchMatchCase" },
          { "$ref": "#/components/parameters/searchRegularExp" }
        ],
        "responses": {
          "200": {
            "description": "A directory tree and all (filtered) files requested in the required format (html, json, text, or yaml).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryResponse"
                }
              },
              "text/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryResponse"
                }
              },
              "text/markdown": { "schema": { "type": "string" } },
              "text/html": { "schema": { "type": "string" } }
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "Payment required - insufficient credit for private repository access",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - private repository access requires 'repo' scope",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Repository or file not found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },

    "/{owner}/{repo}/{threadType}/{number}": {
      "get": {
        "operationId": "getRelevantContents",
        "summary": "Get contents relevant for an issue or discussion",
        "tags": ["Repository"],
        "description": "Fetch contents of a GitHub repository relevant for an issue or discussion, with various filtering options. \n\nExample usage:\n- Max 10.000 LLM tokens in response: https://uithub.com/codefromanywhere/openapi-search/issues/1?maxTokens=10000\n- Glob include pattern: https://uithub.com/owner/repo/issues/1?include=**/*.ts\n- Search file contents: https://uithub.com/owner/repo/issues/1?search=function%20parse\n\nKnown limitations: \n\n- Doesn't work well with large repos over 50mb\n- For now the API is free to use for fair use, but a ratelimit will be added in the future.\n- There is an hourly cap for githubs ratelimit, you can get up to 5000 requests per hour by using your own apiKey.\n\nRead below for more the entire spec, or try it out in the widget and get some code.\n\nReach out [here](https://news.ycombinator.com/item?id=41797578) for feedback or feature requests.",
        "parameters": [
          { "$ref": "#/components/parameters/owner" },
          { "$ref": "#/components/parameters/repo" },
          { "$ref": "#/components/parameters/number" },
          { "$ref": "#/components/parameters/threadType" },
          { "$ref": "#/components/parameters/apiKey" },
          { "$ref": "#/components/parameters/ext" },
          { "$ref": "#/components/parameters/accept" },
          { "$ref": "#/components/parameters/acceptQuery" },
          { "$ref": "#/components/parameters/dir" },
          { "$ref": "#/components/parameters/lines" },
          { "$ref": "#/components/parameters/excludeExt" },
          { "$ref": "#/components/parameters/excludeDir" },
          { "$ref": "#/components/parameters/disableGenignore" },
          { "$ref": "#/components/parameters/maxFileSize" },
          { "$ref": "#/components/parameters/maxTokens" },
          { "$ref": "#/components/parameters/yamlString" },
          { "$ref": "#/components/parameters/omitFiles" },
          { "$ref": "#/components/parameters/omitTree" },
          { "$ref": "#/components/parameters/include" },
          { "$ref": "#/components/parameters/exclude" },
          { "$ref": "#/components/parameters/search" },
          { "$ref": "#/components/parameters/searchMatchCase" },
          { "$ref": "#/components/parameters/searchRegularExp" }
        ],
        "responses": {
          "200": {
            "description": "A directory tree and all (filtered) files requested in the required format (html, json, text, or yaml).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryResponse"
                }
              },
              "text/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryResponse"
                }
              },
              "text/markdown": { "schema": { "type": "string" } },
              "text/html": { "schema": { "type": "string" } }
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "Payment required - insufficient credit for private repository access",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - private repository access requires 'repo' scope",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Repository or file not found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },

    "/{owner}/{repo}/{itemType}": {
      "get": {
        "summary": "List all prs/issues/discussions",
        "tags": ["Repository"],
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository owner"
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Repository name"
          },
          {
            "name": "itemType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["issues", "pulls", "discussions"]
            },
            "description": "Type of items to fetch"
          },

          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "enum": ["application/json", "text/yaml", "text/html"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ThreadItem"
                      }
                    },
                    "totalCount": {
                      "type": "integer"
                    }
                  }
                }
              },
              "text/yaml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },

    "/.well-known/oauth-authorization-server": {
      "get": {
        "operationId": "getOAuthServerMetadata",
        "summary": "OAuth Authorization Server Metadata",
        "description": "Returns OAuth 2.0 authorization server metadata as defined in RFC 8414. Use this to discover OAuth endpoints and supported features.",
        "tags": ["OAuth"],
        "security": [],
        "responses": {
          "200": {
            "description": "OAuth server metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthServerMetadata"
                }
              }
            }
          }
        }
      }
    },

    "/.well-known/oauth-protected-resource": {
      "get": {
        "operationId": "getOAuthResourceMetadata",
        "summary": "OAuth Protected Resource Metadata",
        "description": "Returns OAuth 2.0 protected resource metadata. Indicates the resource server and its associated authorization servers.",
        "tags": ["OAuth"],
        "security": [],
        "responses": {
          "200": {
            "description": "Protected resource metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resource": {
                      "type": "string",
                      "description": "The resource server URL"
                    },
                    "authorization_servers": {
                      "type": "array",
                      "items": { "type": "string" },
                      "description": "List of authorization server URLs"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/register": {
      "post": {
        "operationId": "registerOAuthClient",
        "summary": "Register OAuth Client",
        "description": "Dynamic client registration endpoint. Register a new OAuth 2.0 client to obtain client credentials.",
        "tags": ["OAuth"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClientRegistrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      }
    },

    "/authorize": {
      "get": {
        "operationId": "authorize",
        "summary": "OAuth Authorization Endpoint",
        "description": "Initiates the OAuth 2.0 authorization code flow. Redirect users here to authenticate and authorize your application. Supports PKCE (code_challenge and code_challenge_method parameters).",
        "tags": ["OAuth"],
        "security": [],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "The client ID obtained during registration"
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "The URI to redirect to after authorization (must match registered URI)"
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["code"] },
            "description": "Must be 'code' for authorization code flow"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "read" },
            "description": "Space-separated list of scopes. Available: 'read' (public repos), 'repo' (private repos)"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Random string to prevent CSRF attacks. Returned unchanged in the callback."
          },
          {
            "name": "code_challenge",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "PKCE code challenge. Recommended for all clients."
          },
          {
            "name": "code_challenge_method",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["S256", "plain"], "default": "plain" },
            "description": "PKCE method. 'S256' (recommended) or 'plain'"
          },
          {
            "name": "resource",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Resource indicator (optional)"
          }
        ],
        "responses": {
          "302": {
            "description": "Redirects to GitHub for authentication, then back to redirect_uri with authorization code"
          },
          "400": {
            "description": "Invalid authorization request"
          }
        }
      }
    },

    "/token": {
      "post": {
        "operationId": "getAccessToken",
        "summary": "OAuth Token Endpoint",
        "description": "Exchange an authorization code for an access token. Supports PKCE verification.",
        "tags": ["OAuth"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token issued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or grant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token obtained via OAuth 2.0 flow or API key from dashboard"
      },
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authorization code flow with PKCE support",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://uithub.com/authorize",
            "tokenUrl": "https://uithub.com/token",
            "scopes": {
              "read": "Read access to public repositories",
              "repo": "Access to private repositories (requires GitHub repo scope)"
            }
          }
        }
      }
    },
    "schemas": {
      "Author": {
        "type": "object",
        "properties": {
          "login": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "required": ["login"]
      },

      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/Author"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "ThreadItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "number": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/Author"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "url": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": ["open", "closed"]
          },
          "type": {
            "type": "string",
            "enum": ["issue", "pull", "discussion"]
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "reactions": {
            "type": "object",
            "properties": {
              "totalCount": {
                "type": "integer"
              },
              "types": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "comments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      },
      "OAuthServerMetadata": {
        "type": "object",
        "description": "OAuth 2.0 Authorization Server Metadata (RFC 8414)",
        "properties": {
          "issuer": {
            "type": "string",
            "description": "The authorization server's issuer identifier URL"
          },
          "authorization_endpoint": {
            "type": "string",
            "description": "URL of the authorization endpoint"
          },
          "token_endpoint": {
            "type": "string",
            "description": "URL of the token endpoint"
          },
          "registration_endpoint": {
            "type": "string",
            "description": "URL of the dynamic client registration endpoint"
          },
          "response_types_supported": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Supported response types"
          },
          "grant_types_supported": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Supported grant types"
          },
          "code_challenge_methods_supported": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Supported PKCE code challenge methods"
          },
          "scopes_supported": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Supported OAuth scopes"
          },
          "token_endpoint_auth_methods_supported": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Supported token endpoint authentication methods"
          }
        }
      },
      "ClientRegistrationRequest": {
        "type": "object",
        "description": "Request body for OAuth client registration",
        "required": ["redirect_uris"],
        "properties": {
          "redirect_uris": {
            "type": "array",
            "items": { "type": "string", "format": "uri" },
            "description": "Array of allowed redirect URIs for the client"
          },
          "client_name": {
            "type": "string",
            "description": "Human-readable name of the client application"
          }
        }
      },
      "ClientRegistrationResponse": {
        "type": "object",
        "description": "Response from successful client registration",
        "properties": {
          "client_id": {
            "type": "string",
            "description": "Unique client identifier"
          },
          "client_secret": {
            "type": "string",
            "description": "Client secret for authentication"
          },
          "redirect_uris": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Registered redirect URIs"
          },
          "client_name": {
            "type": "string",
            "description": "Name of the registered client"
          },
          "token_endpoint_auth_method": {
            "type": "string",
            "description": "Authentication method for the token endpoint"
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "description": "Request body for token exchange",
        "required": ["grant_type", "code", "redirect_uri", "client_id"],
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": ["authorization_code"],
            "description": "Must be 'authorization_code'"
          },
          "code": {
            "type": "string",
            "description": "The authorization code received from the authorization endpoint"
          },
          "redirect_uri": {
            "type": "string",
            "description": "Must match the redirect_uri used in the authorization request"
          },
          "client_id": {
            "type": "string",
            "description": "The client identifier"
          },
          "client_secret": {
            "type": "string",
            "description": "The client secret (if applicable)"
          },
          "code_verifier": {
            "type": "string",
            "description": "PKCE code verifier (required if code_challenge was used in authorization)"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "description": "Successful token response",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "The access token to use for API requests"
          },
          "token_type": {
            "type": "string",
            "enum": ["Bearer"],
            "description": "Token type (always 'Bearer')"
          },
          "expires_in": {
            "type": "integer",
            "description": "Token lifetime in seconds (86400 = 24 hours)"
          },
          "scope": {
            "type": "string",
            "description": "Granted scopes (space-separated)"
          }
        }
      },
      "OAuthError": {
        "type": "object",
        "description": "OAuth error response",
        "properties": {
          "error": {
            "type": "string",
            "enum": ["invalid_request", "invalid_client", "invalid_grant", "unsupported_grant_type"],
            "description": "Error code"
          },
          "error_description": {
            "type": "string",
            "description": "Human-readable error description"
          }
        }
      },
      "RepositoryResponse": {
        "type": "object",
        "description": "Repository contents response",
        "properties": {
          "size": {
            "$ref": "#/components/schemas/SizeInfo"
          },
          "tree": {
            "$ref": "#/components/schemas/TokenTree",
            "description": "Token tree showing file/folder structure with token counts. Omitted if omitTree=true"
          },
          "files": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/FileContent"
            },
            "description": "Map of file paths to their contents. Omitted if omitFiles=true"
          }
        },
        "required": ["size"]
      },
      "SizeInfo": {
        "type": "object",
        "description": "Size information about the repository contents",
        "properties": {
          "tokens": {
            "type": "integer",
            "description": "Number of tokens in the returned (filtered) content"
          },
          "totalTokens": {
            "type": "integer",
            "description": "Total number of tokens in the repository before filtering"
          },
          "characters": {
            "type": "integer",
            "description": "Number of characters in the content (totalTokens * 5)"
          },
          "lines": {
            "type": "integer",
            "description": "Total number of lines in the repository"
          }
        },
        "required": ["tokens", "totalTokens", "characters", "lines"]
      },
      "TokenTree": {
        "type": "object",
        "description": "Recursive tree structure where keys are file/folder names. Values are either numbers (token count for files) or nested TokenTree objects (for folders)",
        "additionalProperties": {
          "oneOf": [
            { "type": "integer", "description": "Token count for a file (rounded to nearest 100)" },
            { "$ref": "#/components/schemas/TokenTree" }
          ]
        }
      },
      "FileContent": {
        "type": "object",
        "description": "Content information for a single file",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["content", "binary"],
            "description": "Type of file - 'content' for text files, 'binary' for binary files"
          },
          "content": {
            "type": "string",
            "description": "File content (only present for type='content')"
          },
          "url": {
            "type": "string",
            "description": "URL to the file (only present for type='binary')"
          },
          "hash": {
            "type": "string",
            "description": "SHA hash of the file content"
          },
          "size": {
            "type": "integer",
            "description": "Size of the file in bytes"
          }
        },
        "required": ["type", "hash", "size"]
      }
    },
    "parameters": {
      "owner": {
        "name": "owner",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "GitHub repository owner"
      },
      "threadType": {
        "name": "threadType",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "enum": ["issues", "discussions"] }
      },
      "number": {
        "name": "number",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Issue or discussion id"
      },
      "yamlString": {
        "name": "yamlString",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "An URL Encoded string of a yaml of a subset of the file hierarchy of files you want to include"
      },
      "omitFiles": {
        "name": "omitFiles",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "If set to 'true' the response will not include the files"
      },
      "omitTree": {
        "name": "omitTree",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean"
        },
        "description": "If set to 'true' the response will not include the tree. Only available when requesting result as data (json or yaml)"
      },
      "repo": {
        "name": "repo",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "GitHub repository name"
      },
      "branch": {
        "name": "branch",
        "in": "path",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Branch name (defaults to main if not provided)"
      },
      "path": {
        "name": "path",
        "in": "path",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "File or directory path within the repository"
      },
      "apiKey": {
        "name": "apiKey",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "GitHub API key for private repositories. Make a token [here](https://github.com/settings/tokens/new)"
      },
      "ext": {
        "name": "ext",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated list of file extensions to include"
      },
      "dir": {
        "name": "dir",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated list of directories to include"
      },
      "excludeExt": {
        "name": "exclude-ext",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated list of file extensions to exclude"
      },
      "excludeDir": {
        "name": "exclude-dir",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated list of directories to exclude"
      },
      "disableGenignore": {
        "name": "disableGenignore",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean",
          "default": false
        },
        "description": "`.genignore` works like `.gitignore` and the repo owner can place this file in the repo to automatically filter out these files from uithub.\n\nTo disable this automatic filter you can set this to true."
      },
      "maxFileSize": {
        "name": "maxFileSize",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer"
        },
        "description": "Maximum file size to include (in bytes)"
      },
      "lines": {
        "name": "lines",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": ["false"]
        },
        "description": "Can be set to false to disable the line numbers before every line. Only needed for HTML or markdown responses."
      },
      "maxTokens": {
        "name": "maxTokens",
        "in": "query",
        "required": false,
        "schema": { "type": "integer" },
        "description": "Useful for working with LLMs; Will remove big files from response to get under a certain token count. Will still include the file in the tree.\nNB: as of now, this does not count the directory tree tokens, so actual tokens may be higher.\n\nFor HTML or Markdown requests this value defaults to 50000, otherwise infinite."
      },
      "accept": {
        "name": "accept",
        "in": "header",
        "description": "Defaults to text/markdown. To receive JSON back, please use application/json",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "application/json",
            "text/yaml",
            "text/markdown",
            "text/html"
          ]
        }
      },
      "acceptQuery": {
        "name": "accept",
        "in": "query",
        "description": "Defaults to text/markdown. To receive JSON back, please use application/json",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "application/json",
            "text/yaml",
            "text/markdown",
            "text/html"
          ]
        }
      },
      "include": {
        "name": "include",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated glob patterns for files to include (e.g., '**/*.ts,src/**'). Supports VS Code style patterns: * (single segment), ** (multiple segments), ? (single char), [abc] (char class), {a,b} (alternatives)"
      },
      "exclude": {
        "name": "exclude",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated glob patterns for files to exclude (e.g., '**/node_modules/**,**/*.test.ts'). Supports VS Code style patterns: * (single segment), ** (multiple segments), ? (single char), [abc] (char class), {a,b} (alternatives)"
      },
      "search": {
        "name": "search",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Search string to filter files by content. Only files containing this text will be included in results."
      },
      "searchMatchCase": {
        "name": "searchMatchCase",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean",
          "default": false
        },
        "description": "Whether search should be case-sensitive. Defaults to false (case-insensitive)."
      },
      "searchRegularExp": {
        "name": "searchRegularExp",
        "in": "query",
        "required": false,
        "schema": {
          "type": "boolean",
          "default": false
        },
        "description": "Whether the search string should be treated as a regular expression. Defaults to false (literal string search)."
      }
    }
  }
}
